/*reset styles*/

div {
	justify-content: center; 
	
}

/* Colours */
$black: #1D1D1D;
$white: #ffffff;
$orange: #FA954C;
$red: #FF5B5B;
$blue: #214988;
$light-blue: #CAD8E4;
$light-grey:#C8C8C8;
$body-font-color: #666666;
$body-font-family: 'Montserrat', sans-serif;

.login { 
	background: url(img/bg.png) center center no-repeat $black;
	background-size: cover;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 24em;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center; 
    h1 { 
		display: block;
		background: url(img/logo.png) center center no-repeat;
		background-size:70%;
		width: 217px;
		height: 90px;
		margin: 0 auto; 
    	a {
			display: none!important;
		}
    }
}

#login {
	position: relative;
	width: 100%!important;
	max-width: 360px;
	padding:20px!important;
	border:0;
	box-shadow: none;
	a, input {
		transition: all 0.25s ease-in-out; 
	}
	form {
		margin:10px 0 0 0;
		padding:40px 40px;
		background: $white;
		box-shadow: none;
		border-radius:2px;
		overflow: visible;
		p.forgetmenot {
			display:block;
			width:100%;
			font-size:16px;
			padding: 0 0 0 0;
			margin:0 0 0 0;
			height:40px;
			float:none;
			label {
				text-transform:capitalize;
			}
		}
		p.submit {
			position:relative;
			&:before {
				content: "";
				width: 17px;
				height: 17px;
				left: 50%;
				transform:translateX(calc(-50% - 35px));
				bottom: 22px;
				position: absolute;
				background: url(img/login.svg) center center no-repeat transparent;
				background-size: 100%;
			}
		}
	}
	label {
		color: $body-font-color;
		font: 600 normal 12px $body-font-family;
		text-transform:uppercase;
		letter-spacing:0.5px;
		text-align:center;
		width:100%;
		display:block;
	}
	input.input {
		font: 300 normal 16px $body-font-family;
		color: $body-font-color;
		padding: 17px 20px;
		margin:7px 0 25px;
		background: $white;
		border: 1px solid $light-grey;
		border-radius:2px;
		box-shadow: none; 
		text-align:center;
		outline:none;
		position:relative;
		&:focus {
			box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
			border: 1px solid lighten($light-grey, 10%);
		}
	}  
	input.button {
		border: 0;
		outline:none;
		background: $red;
		color: $white;
		font: 800 normal 16px $body-font-family;
		text-transform: uppercase;
		padding: 22px 20px;
		margin:0 0 -65px 0;
		height: auto;
		box-shadow: none;
		border-radius:2px;
		text-shadow: none;
		line-height: 1;
		text-indent:30px;
		display:block;
		float:none;
		width:100%;
		&:hover {
			background: darken($orange, 3%);
		}
	} 
	p.forgetmenot {
		padding-top: 0;
		display: block;
		label {
			font-weight: 300;
			color: #666;
			input {
				box-shadow: none;
				background: $white;
			}
			input:focus {
				border-color: $light-grey;
			}
			input[type=checkbox] {
				border-radius:2px;
				outline:none;
			}
			input[type=checkbox]:checked:before {
				content: "\f147";
				margin: -3px 0 0 -4px;
				color: $red;
			}
		}
	}
	.g-recaptcha > div {
		margin: 0 auto 25px;
	}
	#backtoblog { 
		display: none;
	}
	#nav {
		text-align: center;
		font: 300 normal 10px $body-font-family;
		letter-spacing:2px;
		text-transform: uppercase;
		margin-top: 60px;
		a { 
			color: $white;
			text-decoration: none;
			outline:none;
			opacity:0.8;
			&:hover {
				text-decoration: none;
				opacity:1;
			} 
		} 	
	}
	.message {
		padding:0;
		box-shadow: none;
		background: none;
		border: 0; 
		font: 300 normal 16px $body-font-family;
		color: #fff;
		line-height: 1.5em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 1px;
	}
	.privacy-policy-page-link {
		display: none;
	}
}

.login #login_error {
	font: 300 normal 12px $body-font-family;
	padding: 17px 20px;
	background:$red;
	color:#fff;
	border-radius:2px;
	text-align:center;
	border:none;
	a {
		color:$white;
		text-decoration:none;
		border-bottom: 1px rgba($white, 0.4) dashed;
		&:hover {
			border-bottom: 1px rgba($white, 1) dashed;
		}
	}
}

.login-action-lostpassword {
	#login {
		.message {
			font: 300 normal 12px "Montserrat", sans-serif;
			padding: 17px 20px;
			background: $white;
			color: $black;
			border-radius:2px;
			text-align: center;
			border: none;
			text-transform: none;
			letter-spacing: 0;
		}
		form {
			p.submit {
				&:before {
					transform:translateX(calc(-50% - 95px));
					background: url(img/forgot.svg) center center no-repeat transparent;
				}
			}
		}
	}


	
}