

a {
	text-decoration:none;
	color: $link-color;
}

a:hover {
	text-decoration:none;
	color: $link-hover-color;
}

a:active {
	text-decoration:none;
	color: $link-active-color;
}

// BUTTONS

.button {
	border-radius: $border-radius;
	padding: 15px 20px;
	display:block;
	background: $button-color;
}

.button .flaticon {
	display:inline-block;
	margin-right:10px;
}

.button:hover {
	background: $button-hover;
}