
// FONTS
$main-font: 'Montserrat', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$normal-weight: 400;
$light-weight: 300;
$bold-weight: 600;
$black-weight: 800;


// COLORS
$main-color: #1e64a5;
$second-color: #a5411e;
$third-color: #a51e71;
$fourth-color: #1ea584;

$font-color: #111;
$second-font-color: #444;

// $grid-gutter-width: 40px;

//CUSTOM SPACERS
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 7),
  8: ($spacer * 9),
  9: ($spacer * 11),
  10: ($spacer * 15),
);

//CUSTOM BREAKPOINTS
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

// LINKS
$link-color: #1ea584;
$link-hover-color: darken($link-color, 15%);
$link-active-color: #1ea584;


// BUTTONS
$button-color: #1ea584;
$button-hover: darken($button-color, 15%);


//  OTHER
$border-radius: 5px;
$box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
$text-shadow: 5px 5px 10px rgba(0,0,0,0.3);
$animation: all 250ms ease;